html,
body,
#app {
  margin: 0;
  height: 100%;
}

*::selection {
  background-color: #b39ddb;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("https://static.igem.wiki/teams/4238/wiki/zenmarugothic-medium.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("https://static.igem.wiki/teams/4238/wiki/robotomono-variablefont-wght.ttf");
}
